<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="soft.me.ldc">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".config.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainUI"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.MusicListMusicActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".layout.RadioStationSongMusicActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".layout.PlayMusicMusicActivity"
            android:windowSoftInputMode="adjustPan" />

        <!-- 音乐服务 -->
        <service
            android:name=".service.PlayService"
            android:exported="true" />
        <!-- 多线程服务 -->
        <service
            android:name=".common.service.MultiThreadService"
            android:exported="true" />
        <!-- 高德定位 -->
        <service android:name="com.amap.api.location.APSService" />
        <!-- 开发者Key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="75a5407f7b6dd13b37c437d65b83ae2a" />

        <activity android:name=".layout.AboutActivity" />
        <activity android:name=".layout.SingerInfoActivity" />
        <activity android:name=".layout.SongListActivity" />
        <activity android:name=".layout.SongerInfoActivity"></activity>
    </application>

</manifest>